black==22.12.0
h5py==3.8.0
isort==5.11.4
jupyter==1.0.0
keras==2.11.0
matplotlib==3.6.3
more_itertools==9.0.0
numpy==1.24.1
pandas==1.5.3
pylint==2.15.10
scikit-learn==1.2.1
scipy==1.10.0
seaborn==0.12.2
tensorflow==2.11.0
tqdm==4.64.1